* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Terminal-Grotesque", Verdana, Tahoma;
}

@font-face {
    font-family: "Terminal-Grotesque";
    src: url(terminal-grotesque.ttf) format("truetype");
}

h1 {
    font-size: 5em;
}
body {
    padding: 2rem;
    background-color: #01012b;
    color: #05d9e8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
}

input,
button {
    color: inherit;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 20px;
    background: inherit;
    border-color: #05d9e8;
}

.dropzone.dz-clickable {
    cursor: pointer;
    background: inherit;
}

.dropzone .dz-preview.dz-file-preview .dz-image {
    border-radius: 20px;
    background: #ff2a6d;
    padding: 1rem;
}

.dropzone .dz-preview .dz-details .dz-filename span {
    background-color: inherit;
    font-size: 1em;
    color: #01012b;
  }
.dropzone .dz-preview .dz-details .dz-size span {
    background-color: inherit;
    border-radius: 20px;
    font-size: 2em;
    color: #01012b;
}