<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MiniSOC</title>
  <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
  {{ dropzone.load_css() }}
  {{ dropzone.style('border: 2px dashed #ff2a6d; margin: 5%; min-height: 400px;') }}
  <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>

<body>
  <h1>MiniSOC</h1>
  {{ dropzone.create(action='upload') }}
  <button id="analyzeBtn" onclick="fetch('http://127.0.0.1:5001/analyze')">Analyze</button>
  {{ dropzone.load_js() }}
  {{ dropzone.config() }}
</body>

</html>
