<footer class="pc-footer">
  <div class="footer-wrapper container-fluid">
    <div class="row">
      <div class="col my-1">
        <p class="m-0">
          &copy; <a href="https://github.com/FlippaFloppa" target="_blank">FlippaFloppa</a> - Coded by <a href="https://github.com/BlessedRebuS" target="_blank">BlessedRebuS</a>, <a href="https://github.com/leonardobambini" target="_blank">leonardobambini</a>, <a href="https://github.com/RootLeo00" target="_blank">RootLeo00</a>.
        </p>
      </div>
      <div class="col-auto my-1">
        <ul class="list-inline footer-link mb-0">
          <li class="list-inline-item"><a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank">The GNU General Public License v3.0</a></li>
        </ul> 
      </div>
    </div>
  </div>
</footer>
