<!-- [ Sidebar Menu ] start -->
<nav class="pc-sidebar">
  <div class="navbar-wrapper">
    <div class="m-header">
      <a href="index.html" class="b-brand">
        <!-- ========   Change your logo from here   ============ -->
        <img src="{{ url_for('static', filename='assets/images/logo-dark.svg') }}" alt="" class="logo logo-lg" />
      </a>
    </div>
    <div class="navbar-content">
      <ul class="pc-navbar">
        <li class="pc-item pc-caption">
          <label>Dashboard</label>
          <i class="ti ti-dashboard"></i>
        </li>
        
        <li class="pc-item">
          <a href="/" class="pc-link">
            <span class="pc-micon"><i class="ti ti-home"></i></span>
            <span class="pc-mtext">Home</span></a>
        </li>

        <li class="pc-item">
          <a href="{{ url_for('home_blueprint.cluster') }}" class="pc-link"><span class="pc-micon"><i
                class="ti ti-prompt"></i></span><span class="pc-mtext">Cluster</span></a>
        </li>

        <li class="pc-item">
          <a href="{{ url_for('home_blueprint.analyzer') }}" class="pc-link"><span class="pc-micon"><i
                class="ti ti-upload"></i></span><span class="pc-mtext">Analyzer</span></a>
        </li>

        <li class="pc-item pc-caption">
          <label>Statistics</label>
          <i class="ti ti-dashboard"></i>
        </li>


        <li class="pc-item">
          <a href="{{ url_for('home_blueprint.compute_resources_node_kubernetes') }}" class="pc-link"><span class="pc-micon"><i class="ti ti-box-model-2"></i></span><span
              class="pc-mtext">Pods Workload - Master</span></a>
        </li>

        <li class="pc-item">
          <a href="{{ url_for('home_blueprint.compute_resources_node_worker') }}" class="pc-link"><span class="pc-micon"><i class="ti ti-box-model-2"></i></span><span
              class="pc-mtext">Pods Workload - Worker</span></a>
        </li>

        <li class="pc-item">
          <a href="{{ url_for('home_blueprint.persistent_volume') }}" class="pc-link"><span class="pc-micon"><i class="ti ti-folders"></i></span><span
              class="pc-mtext">Volumes</span></a>
        </li>

        <li class="pc-item">
          <a href="{{ url_for('home_blueprint.networking_pod') }}" class="pc-link"><span class="pc-micon"><i class="ti ti-wave-saw-tool"></i></span><span
              class="pc-mtext">Networking</span></a>
        </li>

        <li class="pc-item">
          <a href="{{ url_for('home_blueprint.application_statistics') }}" class="pc-link"><span class="pc-micon"><i class="ti ti-device-desktop-analytics"></i></span><span
              class="pc-mtext">Application Statistics</span></a>
        </li>

        <li class="pc-item">
          <a href="{{ url_for('home_blueprint.trivy') }}" class="pc-link"><span class="pc-micon"><i class="ti ti-dashboard"></i></span><span
              class="pc-mtext">Trivy</span></a>
        </li>
        
      </ul>
      <div class="pc-navbar-card bg-purple-900 rounded position-absolute bottom-0 start-0">
        <h4 class="text-white">MiniSoc</h4>
        <p class="text-purple-900 opacity-75">Open-Source Repo</p>
        <a href="https://github.com/FlippaFloppa/Scalable-And-Reliable"  
           target="_blank" class="btn btn-light text-primary">GitHub</a>
      </div>
    </div>
  </div>
</nav>
<!-- [ Sidebar Menu ] end -->
